<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Default NuGet source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- Local Telerik NuGet folder -->
    <add key="Telerik Local" value="D:\Telerik\Telerik Nugets 2025" />
  </packageSources>
</configuration>

